PORT=4000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234

RABBITMQ_URL=amqp://localhost:5672
USER_QUEUE=user_queue
PRODUCT_QUEUE=product_queue
INVENTORY_QUEUE=inventory_queue
PURCHASE_ORDERS_QUEUE=purchase_orders_queue
SALES_ORDERS_QUEUE=sales_orders_queue

REDIS_URL=redis://localhost:6379

JWT_SECRET=f844243b4a61cbb1e60d2564c42cd85d02deb4da599b1cd1159ff8ccf93e0d5cf874046285398f5cf3cb8e1b21cb2c2c2c81769445983696d7bb4593ee8fa342
JWT_REFRESH_SECRET=86577886362b97209019d52c2eb0c5dd51dabffabbc8616c1f5630843d0d09e1266a

EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=